.login-bg {
    background-image: url("../img/dinero.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
.menu-bg {
    background-image: url("../img/menu.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

/* FONDO DEPOSITO */
.transactions-bg {
    background-image: url("../img/transacciones.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

/* FONDO ENVIO */
.envio-bg {
    background-image: url("../img/envio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}   
.btn-transactions {
    background-color: aquamarine;
   color: rgb(1, 4, 6);
   
}   
    

:root {
    --color-primario: #183527;   /* colores principales  */
    --color-secundario: #58987a; 
    --color-acento: #0fa00f;     

}
.btn-principal {
    background-color: green !important;
    color: white;
}


.btn-principal:hover {
    background-color: #1558b0;
}

/* Botón depósito */
.btn-deposito {
    background-color: var(--color-secundario);
    color: white;
}

.btn-deposito:hover {
    background-color: #146c43;
}

/* Botón enviar dinero */
.btn-envio {
    background-color: var(--color-acento);
    color: #000;
}

.btn-envio:hover {
    background-color: #e0a800;
}
